body {
    font-size: 75%;
    color: #4b4847;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 10px;
    background: #eee;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 19px;
    font-family: Georgia, times, serif;
    font-weight: normal;
}

.content{
margin: 0px auto;
padding: 10px;
background: #fff;
width: 900px;
border: 1px solid #aaaaaa;
-moz-border-radius: 5px;
border-radius: 5px;


}

hr{
    color: #eee;
    border: 1px solid;
    


}
.footer{
margin: 0px auto;
padding: 10px;
width: 900px;


}
