<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}{% endblock %} :: flickrbackrupr</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" >
   <script src="http://www.google.com/jsapi"></script>
    <script>
      // Load jQuery
      google.load("jquery", "1");
    </script>
</head>

<body>
    <div class="content">
        <h1>Flickr Backr Upr</h1>
        <hr>
            {% block content %}{% endblock %}
        {% if crumb %}
        <hr>
        <p>You are logged in with your nata2 Flickr account<br /><br /><form method="POST" action="/signout"><input type="hidden" name="crumb" value="{{crumb}}" /><input type="submit" value="SIGN OUT" /></form></p>
        {% endif %}

    </div>
    <div class="footer">
        <a href="https://github.com/harperreed/GAE-Flickr-Backup">GAE-Flickr-Backup</a>. Hacked together by <a href="http://nata2.org">Harper reed</a>
    </div>
</body>
{% block scriptblock%}{% endblock %}
</html>
